.notes {
  background-color: red;
}
.test-page,
.notes-page,
.archive-page,
.trash-page,
.profile-page,
.login-page,
.signup-page,
.tasks-page {
  height: 88vh;
}
.main-app {
  height: inherit;
}
.nav {
  height: 12vh;
}
.main-section {
  overflow-y: auto;
}

.profile-card {
  border-radius: 30px !important;
}

.login-card,
.signup-card {
  border-radius: 30px !important;
}
.link {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.link-active,
.link-drawer-active {
  background-color: #ffb02e;
}
.account:hover {
  background-color: #343a40;
}

.dark-theme {
  background-color: #212529 !important;
  color: #ced4da !important;
}
.light-theme {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}
.dark-element {
  background-color: #343a40 !important;
  color: #ced4da !important;
}
.light-element {
  background-color: #dee2e6 !important;
  color: #495057 !important;
}

.task {
  border-radius: 20px;
  max-height: 500px;
}
.new-task-container {
  border-radius: 20px;
  width: 500px;
}
.new-task-container-mobile {
  border-radius: 20px;
  width: 150%;
}