* {
  box-sizing: border-box;
}

:root {
  --yellow_00: #fff6cc;
  --yellow_0: #FFF2B2;
  --yellow_1: #FFEA00;
  --yellow_2: #FFDD00;
  --yellow_3: #FFD000;
  --yellow_4: #FFC300;
  --yellow_5: #FFB700;
  --yellow_6: #FFAA00;
  --yellow_7: #FFA200;
  --yellow_8: #FF9500;
  --yellow_9: #FF8800;
  --yellow_10: #FF7B00;
}

.notes,
.archive,
.trash {
  overflow-y: auto;
}

.text-area {
  overflow: hidden;
  resize: none;
}

.notecard {
  border-radius: 20px !important;
  height: 250px !important;
}

.tag-container {
  overflow-x: auto;
}

.new-note-bottom {
  position: absolute;
  bottom: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--yellow_00) !important;
  color: black !important;
}

.ncard-header {
  height: 20% !important;
}

.ncard-body {
  height: 60% !important;
}

.ncard-footer {
  height: 20% !important;
}

.tags {
  overflow: calc(100% - 20px);
}

.new-note-container {
  border-radius: 20px;
}

.mobile-modal {
  height: 70vh;
  .note-modal-header {
    height: 15vh;
  }
  .note-modal-body {
    height: 70vh;
    overflow-y: auto;
  }
  .note-modal-footer {
    height: 15vh;
  }
}
.desktop-modal{
  height: 100vh;
  .note-modal-header {
    height: 15vh;
  }
  .note-modal-body {
    height: 50vh;
    overflow-y: auto;
  }
  .note-modal-footer {
    height: 15vh;
  }
}

.tool {
  color: white !important;
}
.tool:hover {
  background-color: gray;
  // color: black;
  border-radius: 50%;
}
.new-note-mobile {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.note-card {
  width: 100%;
  .heading {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
.card-heading, .card-footer {
  height: 15%;
}
.card-content {
  height: 70%;
  overflow-y: auto;
}
.card-footer {
  .left {
    overflow-y: auto;
  }
}
.note-textarea {
  height: 100% !important;
  overflow-y: auto;
  resize: none;
}
.add-collaborator {
  border-radius: 5px;
}